body{
    background-color:#dee2e6;
  
}
 table.dataTable thead {
    background: #007bff;
    color:white;
}

.caja{
  /* border: 1px solid; */
  padding: 5px;
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
}


.foot {
	border-radius: 20px;
	margin-top: 40px;

}

#editar {
	margin-top: 0px;
}

/*
#nuevo {
	margin-bottom: -500px;
}
*/

#btnNuevo{ height: 50px !important;max-height: 50px !important;}

.modal-dialog {
  margin-top: 0px;
}

#encabezado {
  color: blue;
}

.capitalize {
  text-transform: capitalize;
}



button#btnBuscar {
    margin-top: 32px;
}


button#btnBuscar {
    margin-top: 32px;
    background-color: #ffc107;
    border: #ffc107;
    color: black;
}

#anchoModalBuscarSolMant {
    width: 160%;
    margin-left: -150px;
    margin-top: 100px;
}

#modalCuadro {
    margin-top: 100px;
}

#modalCuadroU {
    margin-top: -185px;
}

hr {
    margin-top: -5px;
  }

#h5 {
  margin-top: 30px;
}

#linea2 {
  margin-top: 30px;
  margin-bottom: -25px;
}


#btnAgregar {
    margin-left: -25px;
    margin-top: 33px;
}




/*Mostrar cantidad de registros */

div#tablaSolMant_length {
    margin-top: 20px;
}

/* Botones*/
.dt-buttons.btn-group {
    position: absolute !important;
    margin-left: 250px;
    margin-top: -45px;
}

/* Filtro de busqueda*/
div#tablaSolMant_filter {
    margin-top: -37px;
}

/* Paginacion */
div#tablaSolMant_paginate {
    margin-top: 10px;
    margin-bottom: 10px;

}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    background: #1a3c8a;
}


table.dataTable thead {
    color: white;
    background: #1a3c8a;
}


element.style {
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    border-color: #007bff;
    background: #1a3c8a important;
}


.requerido {
    color: red;
}