body{
    background-color:#dee2e6;
  
}

/*  Asignarle color al encabezado de la tabla
table th {
    background-color: #003399 !important;
    color: white;
}
*/

 table.dataTable thead {
    background: #007bff;
    color:white;
}

.caja{
  /* border: 1px solid; */
  padding: 5px;
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
}


.foot {
	border-radius: 20px;
	margin-top: 40px;

}

#editar {
	margin-top: 0px;
}


.modal-dialog {
  margin-top: 200px;
}

button#btnBuscar {
    margin-top: 32px;
}

button#btnBuscarU {
    margin-top: 32px;
}

#anchoModalBuscarSolMant {
  width: 160%;
  margin-left: -150px;
  margin-top: -90px;
}

#modalCuadro {
    margin-top: -90px;
}

#modalCuadroU {
    margin-top: -120px;
}

hr {
    margin-top: -5px;
  }

#h5 {
  margin-top: 30px;
}

#linea2 {
  margin-top: 30px;
  margin-bottom: -25px;
}


#btnAgregar {
    margin-left: -25px;
    margin-top: 33px;
}



/*Mostrar cantidad de registris */

div#tablaAsignacionEquipo_length {
    margin-top: 20px;
}

/* Botones*/
.dt-buttons.btn-group {
    position: absolute !important;
    margin-left: 250px;
    margin-top: -45px;
}

/* Filtro de busqueda*/
div#tablaAsignacionEquipo_filter {
    margin-top: -37px;
}

/* Paginacion */
div#tablaAsignacionEquipo_paginate {
    margin-top: -30px;
    margin-bottom: 10px;
}

