body{
    background-color:#dee2e6;
  
}
 table.dataTable thead {
    background: #007bff;
    color:white;
}

.caja{
  /* border: 1px solid; */
  padding: 5px;
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
}


.foot {
	border-radius: 20px;
	margin-top: 40px;

}

#editar {
	margin-top: 0px;
}


.modal-dialog {
  margin-top: 200px;
}

button#btnBuscar {
    margin-top: 32px;
    background-color: #ffc107;
    border-color: #ffc107;
    color: #1f2d3d;
}

button#btnBuscarU {
    margin-top: 32px;
    background-color: #ffc107;
    border-color: #ffc107;
    color: #1f2d3d;
}

#anchoModalBuscarSolMant {
  width: 160%;
  margin-left: -150px;
}

#modalCuadro {
    margin-top: 40px;
}

hr {
    margin-top: -5px;
  }

#h5 {
  margin-top: 30px;
}


/*Mostrar cantidad de registris */

div#tablaControlMant_length {
    margin-top: 20px;
}

/* Botones*/
.dt-buttons.btn-group {
    position: absolute !important;
    margin-left: 250px;
    margin-top: -45px;
}

/* Filtro de busqueda*/
div#tablaControlMant_filter {
    margin-top: -37px;
}

/* Paginacion */
div#tablaControlMant_paginate {
    margin-top: 0px;
    margin-bottom: 10px;
}



.modal-content.new {
    margin-top: 140px;
}
.modal-content.update {
    margin-top: 140px;
}

.modal-content {
    margin-top: 200px;
}

table.dataTable thead {
    color: white;
    background: #1a3c8a;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    border-color: #007bff;

    background: #1a3c8a;
}

.requerido {
    color: red;
}