body{
    background-color:#dee2e6;
  
}
 table.dataTable thead {
    background: #007bff;
    color:white;
}

.caja{
  /* border: 1px solid; */
  padding: 5px;
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
}


.foot {
	border-radius: 20px;
	margin-top: 40px;

}

#editar {
	margin-top: 0px;
}

#nuevo {
	margin-bottom: : 500px;
}

.modal-dialog {
  margin-top: 200px;
}

#dialogU {
  margin-top: 100px;
}



#lblAlerta {
  color: red;
  font-size: 12px;
}

#lblApellido {
  color: red;
  font-size: 12px;
}

#lblTelefono {
  color: red;
  font-size: 12px;
}

#lblCelular {
  color: red;
  font-size: 12px;
}

#lblCorreo {
  color: red;
  font-size: 12px;
}

.capitalize {
  text-transform: capitalize;
}


.modal-content.new {
    margin-top: 140px;
}
.modal-content.update {
    margin-top: 140px;
}

.modal-content {
    margin-top: 200px;
}

.requerido {
    color: red;
}