body{
    background-color:#dee2e6;
  
}
 table.dataTable thead {
    background: #007bff;
    color:white;
}

.caja{
  /* border: 1px solid; */
  padding: 5px;
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
}


.foot {
	border-radius: 20px;
	margin-top: 40px;

}

#editar {
	margin-top: 0px;
}

#nuevo {
	margin-bottom: : 500px;
}

.modal-dialog {
  margin-top: 200px;
}

#btnGuardarSI {
  margin: auto;
}

#btnGuardarNO {
  margin-inline-end: auto;
}

.col-form-label {
  margin-inline-end: auto;
}

.capitalize {
  text-transform: capitalize;
}

.eliminar {
    margin-top: 200px;
}

.modal-content.new {
  margin-top: 140px;
}

.modal-content.update {
  margin-top: 140px;
}